html, body {
    margin: 0;
    background-color: #000;
  }
  
.swiper {
  width: 100%;
  height: auto;
}

.swiper img {
    height: 100vh;
    width: 100%; 
    object-fit: contain; 
    display: block; 
    margin: 0 auto;
}